<html>
    <head>
        <title>Sensor Dashboard</title>
        <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
        <link rel='stylesheet' href='style/style.css' />

    </head>
    <body>
        <div class='container-grafico'>

            <h1 id='titulo'>Dados obtidos:</h1>

            <canvas id='dataChart'></canvas>
        </div>
        <script>
            const temperatura = []; const horarioData = []; const umidade = [];
            let dataTeste;
            {{#each sensors}}

                dataTeste = `${{{this.dataValues.createdAt}}}`;
                temperatura.push({{this.dataValues.temperatura}}); umidade.push({{this.dataValues.umidade}});
                horarioData.push(`${new Date(dataTeste).getDate()}/${new
                Date(dataTeste).getMonth()} - ${new
                Date(dataTeste).getHours()}:${new
                Date(dataTeste).getMinutes()}`);
            {{/each}}

            const labels = Array.from({ length: temperatura.length }, (_, i) =>
            `${horarioData[i]}`); const ctx =
            document.getElementById('dataChart').getContext('2d'); const data =
            { labels: labels, datasets: [{ label: 'Temperature (°C)', data:
            temperatura, borderColor: 'blue', borderWidth: 2, fill: false }, {
            label: 'Umidade (g/m³)', data: umidade, borderColor: 'red',
            borderWidth: 2, fill: false }], }; const config = { type: 'line',
            data: data, options: { responsive: true, scales: { x: { beginAtZero:
            true, }, y: { beginAtZero: true, }, }, }, }; new Chart(ctx, config);
        </script>

    </body>
</html>